<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        
            <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/home">
                        <i class="fas fa-tachometer-alt"></i>Página Principal</a>
                    
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="/clinicalEngineer">
                        <i class="fas fa-copy"></i>Ingenieros Clinicos</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="/sparePart">
                        <i class="fas fa-copy"></i>Repuestos</a>
                </li>
                <li class="has-sub">
                    <a href="/agentSupplier">
                        <i class="fas fa-table"></i>Proveedores</a>
                </li>
                <li class="has-sub">
                    <a href="/workOrder">
                        <i class="fas fa-table"></i>Ordenes de Trabajo</a>
                </li>
                <li class="has-sub">
                    <a href="/equipment">
                        <i class="fas fa-copy"></i>Equipos</a>
                </li>
                <li class="has-sub">
                    <a href="/department">
                        <i class="fas fa-table"></i>Departamentos</a>
                </li>
                <li class="has-sub">
                    <a href="/maintenance">
                        <i class="fas fa-table"></i>Mantenimientos</a>
                </li>
                <li class="has-sub">
                    <a href="/breakdown">
                        <i class="fas fa-table"></i>Historial de Errores</a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
